<a mat-raised-button color="primary" routerLink="/funcionario/cadastrar">
    <mat-icon mat-list-icon>add</mat-icon>
    Novo Funcionario</a
>
<table mat-table [dataSource]="funcionarios" class="table mat-elevation-z8">
    <!-- Coluna do Id -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let funcionario">{{ funcionario.id }}</td>
    </ng-container>
    <!-- Coluna do nome -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let funcionario">{{ funcionario.nome }}</td>
    </ng-container>
    <!-- Coluna do Setor -->
    <ng-container matColumnDef="setor">
        <th mat-header-cell *matHeaderCellDef>setor</th>
        <td mat-cell *matCellDef="let funcionario">{{ funcionario.setor }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas"></tr>
</table>